@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --orange-yellow-crayola: #e9c46aff;
    --sandy-brown: #f4a261ff;
    --burnt-sienna: #e76f51ff;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: var(--charcoal);
}

a {
    text-decoration: none;
    color: var(--persian-green);
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: gray;
}

header a:hover {
    color: var(--burnt-sienna);
}

.home-title {
    font-size: 3rem;
    color: var(--orange-yellow-crayola);
    background-color: var(--charcoal);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 5px 7px lightgray;
}

h2,
label,
h3 {
    color: var(--orange-yellow-crayola)
}

button {
    background-color: var(--orange-yellow-crayola);
    border: 0;
    padding: 1%;
    color: var(--persian-green);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
}

button:hover {
    background-color: var(--sandy-brown);
}

.post-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

textarea,
input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid var(--charcoal);
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form>div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    flex-direction: column;
}

input,
textarea {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

header {
    background-color: var(--orange-yellow-crayola);
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
    font-size: 1.5rem;
}

header a {
    color: var(--charcoal);
    padding: .5rem;
}

header h1 {
    font-size: 1em;
}

nav {
    padding: 1rem 0 .25rem 0;
}

main {
    background-color: var(--charcoal);
    margin: 0 auto;
    width: 90%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--persian-green);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: #3486eb;
}

.delete-post-btn {
    background-color: #d41414;
}

.delete-post-btn:hover {
    background-color: #ff643d;
}

.post {
    background-color: var(--orange-yellow-crayola);
    margin: 1rem 0 1rem 0;
    line-height: 150%;
    border-color: var(--persian-green);
    border: solid;
}

.post-head {
    /* margin-bottom: 10px; */
    padding: 2px;
}

.title {
    font-size: 150%;
    margin: 2px;
    color: var(--orange-yellow-crayola);
}

.meta {
    font-style: italic;
    font-size: 80%;
    margin: 2px;
    flex-direction: row;
    color: var(--charcoal);
    font-weight: 600;
}

.post-text {
    background-color: var(--orange-yellow-crayola);
    padding: .5rem;
    color: var(--charcoal);
    font-weight: 600;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}

.upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
}

.upvote-btn:hover {
    background-color: #1f9c13;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: var(--orange-yellow-crayola);
    padding: .5rem;
    color: var(--charcoal);
    font-weight: 600;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

.posted {
    color: var(--orange-yellow-crayola);
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}